/* Created on 9/09/23 by ArchILLtect */


@font-face {
    font-family: Dragon_Hunter;
    src: url(./fonts/DragonHunter-9Ynxj.otf);
}
@font-face {
    font-family: Dragon_Lord;
    src: url(./fonts/DragonlordPersonalUseOnlyRegular-PKxzm.otf);
}

@font-face {
    font-family: Mrs_Eaves;
    src: url(./fonts/MrsEavesSmallCaps.otf);
}

@font-face {
    font-family: Scala_Sans;
    src: url(./fonts/ScalaSans-Regular.otf);
}

@font-face {
    font-family: Scala_Sans_Bold;
    src: url(./fonts/ScalaSans-Bold.otf);
}

@font-face {
    font-family: Scala_Sans_Italic;
    src: url(./fonts/ScalaSans-Italic.otf);
}

@font-face {
    font-family: Scala_Sans_Bold_Italic;
    src: url(./fonts/ScalaSans-BoldItalic.otf);
}

h1, h2, h3, p, ul, li {
    margin:0;
    padding:0;
}

nav ul, nav ol {
    list-style-type: none;
}

/********** End Bill's Reset ***********/

body {
    background-image: url(./images/page-elements/paper-backer-lite.jpg);
    background-repeat: repeat;
    background-size: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    /* color: #333;
    background-color: #efefef; */
}

h1 {
    position: flex;
    align-content: center;
    font-family: Dragon_Hunter, cursive;
    font-weight: 400;
    background-image: url(./images/backgrounds/DnD-5th_Banner_2.jpg);
    background-size: cover;
    font-size: 50px;
    margin-bottom: .1em;
    height: 18vh;
    color: black;
}

h2 {
    font-family: Scala_Sans, cursive;
    font-size: 2.5em;
    font-weight: 900;
    color:#822000;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
    background-image: url(./images/page-elements/paper-backer-top.png);

}

h3 {
    font-family: Dragon_Hunter !important;
    font-size: 3rem;
    color:#0c3967;
    margin: 0.1rem 0 0.1rem 0;
}

p {
    /* font-weight: bold; */
    margin-bottom: 1em;
    line-height: 1.4em;
}

header {
    min-height: 15vh;
    margin-top: 30px;
    text-align: center;
}

header img {
    max-width: 75%;
}

nav {
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    height: 65vh;
}

.homePageContent {
    position: unset;
    width: auto;
    top: unset;
    right: unset;
}

/* FIXME P3-1 Get rid of width setting here by finding why it's needed - main selector probably */
.homeContent {
    display: flex;
    position: unset;
    width: 98%;
    top: unset;
    right: unset;
    padding: 20px;
}
 /* FIXME How does the padding her look on phone? */
.charMain {
    max-width: 100%;
    padding-right: 20px;
}

.charMain table {
    font-family: Scala_Sans;
    font-size: 16px;
    font-weight: 100;
}

article img {
    max-width: 80%;
    height: 300px;
}

article {
    display: flex;
    text-align: center;
    background-image: url(./images/page-elements/paper-backer-top.png), url(./images/page-elements/paper-backer.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.articleTitle {
    font-family: Dragon_Hunter;
    font-size: 25px;
}

.cardTitle {
    font-family: Dragon_Lord;
    font-size: 45px;
}

.homepageTxtHeader {
    font-family: Scala_Sans_Bold;
    font-size: 35px;
    font-weight: 100;
    color: #822000;
    border-bottom: 1px solid #822000;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 20px;
}

.homepageText,
.raceTraitsText {
    font-family: Scala_Sans;
    font-size: 16px;
    margin-bottom: 40px;
}

.homepageText p,
.raceTraitsText p {
    line-height: 30px;
}

.racialTraitsDiv {
    display: flex;
    flex-direction: row;
}

.raceTraitsText p span {
    font-family: Scala_Sans_Bold;
    font-weight: 100;
    line-height: 30px;
}

.class-summary-div {
    display: flex;
    overflow-x: auto;
}

.class-summary-table {
    border-collapse: collapse;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 100%;
}

.class-summary-table thead {
    border-bottom: 3px solid #aeaeae;
    padding: 12px 20px;
}
  
.class-summary-table th,
.class-summary-table td {
    padding-left: 12px;
    padding-right: 20px;
    border: 1px solid #aeaeae;
}

.class-summary-table tbody tr:nth-child(odd){
    background-color: #EAEAEA;
}

.modalWindow {
    background-image: url(./images/page-elements/paper-backer-top.png), url(./images/page-elements/paper-backer.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.watermark {
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 70%;
    height: 130%;
    opacity: 0.3;
    position: absolute;
    height: 120%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-attachment: fixed;
    margin-top: 120px;
    padding: 20px;
}

#detailsHeader {
    display: flex;
    position: sticky;
    top: 0;
    background-image: url(./images/page-elements/paper-backer-top.png), url(./images/page-elements/paper-backer.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    justify-content: center;
    padding-top: 15px;
}

.detailHeader {
    display: flex;
    font-family: Mrs_Eaves;
    font-size: 3.5rem;
    line-height: 2rem;
    color: #822000;
    padding: 10px;
    margin-bottom: 10px;
}

#detailsFooter {
    display: flex;
    background-image: url(./images/page-elements/paper-backer-top.png), url(./images/page-elements/paper-backer.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    position: sticky;
    bottom: 0;
    padding: 0;
    background-color: #f9ffff;
    justify-content: center;
}

.mainDetailContent {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 45px;
    z-index: +1;
}

.detailTextContent {
    display: block;
    margin-top: 2px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.equipTextContent {
    display: block;
    background-image: url(./images/page-elements/paper-backer-white.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
}


.equipDetailContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 45px;
    z-index: +1;
}

.equipHeadFootBar {
    height: 6px;
    width: 95.5%;
    margin: 0;
    padding: 0;
}

.detailContent {
    font-family: Scala_Sans;
    font-weight: 100;
    font-size: 15px;
    color: #822000;
    gap: 3px;
    margin-bottom: 5px;
}

.classTextContent {
    display: block;
    margin-top: 2px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.detailImageDiv {
    display: flex;
    justify-content: center;
}

.detailImage {
    border: 1px solid black;
    border-radius: 6%;
    height: auto;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.statHeadFootBar {
    height: 6px;
    margin: 0;
    padding: 0;
}

.initialDetailInfo {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
    margin-left: 20px;
}

.initialDetailDesc {
    display: flex;
    gap: 5px;
    margin-top: 0;
}

.detailText {
    font-family: Scala_Sans_Italic;
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 10px;
}

.equipTxtContent {
    font-family: Scala_Sans;
    font-weight: 100;
    font-size: 1.3rem;
}

.equipTxtContent span {
    font-family: Scala_Sans_Bold;
    font-weight: 100;
    font-size: 1.3rem;
}

.rarityTxtDiv {
    display: flex;
    gap: 5px;
}

.common {
    font-family: Scala_Sans;
    font-weight: 100;
    background-color: grey;
}

.uncommon {
    font-family: Scala_Sans !important;
    font-weight: 100;
    color: darkgreen;
}

.rare {
    font-family: Scala_Sans !important;
    font-weight: 100;
    color: blue;
}

.veryRare {
    font-family: Scala_Sans !important;
    font-weight: 100;
    color: orangered;
}

.legendary {
    font-family: Scala_Sans !important;
    font-weight: 100;
    background-color: gold;
}

.detailName {
    font-family: Mrs_Eaves;
    font-size: 2.25rem;
    color: #822000;
    margin-bottom: 0;
    line-height: 1.75rem;
}

.statsBarDiv {
    width: 100%;
}

.statsBar {
    font-size: 15px;
    margin-top: 8px;
    margin-left: 0;
    margin-bottom: 8px;
    max-width: 100%;
    vertical-align: middle;
}

.statDiv {
    display: flex;
    gap: 5px;
}

.statDivTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statDivTwo p:first-child {
    font-family: Scala_Sans_Bold;
    font-weight: 100;
    color: #822000;
    margin: 0;
}

.statDivTwo p:last-child {
    font-family: Scala_Sans;
    color: #822000;
    margin: 0;
}

.statDiv p:first-child {
    font-family: Scala_Sans_Bold;
}

#statsContainerOne {
    margin: 0;
}

#statsContainerTwo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
}

#statsContainerThree {
    margin-left: 0;
}
/* TODO instead of gap - use a div to space? With min-width 10px? */
#challandBonusDiv {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#challandBonusDiv :nth-child(1),
#challandBonusDiv :nth-child(3) {
    font-family: Scala_Sans_Bold;
}

.specAbilMain {
    margin-top: 20px;
    margin-left: 0;
}

.detailTxtDiv {
    display: flex;
    gap: 5px;
}

.detailTxtDivLarge {
    font-family: Scala_Sans;
    font-weight: 100;
    font-size: 16px;     
}

.subraceTraitDetail span {
    font-family: Scala_Sans_Italic;
    font-weight: 100;
    font-size: 16px;     
}

.detailTxtContent {
    font-family: Scala_Sans;
    font-weight: 100;
    font-size: 16px;
}

.detailTxtContent span {
    font-family: Scala_Sans_Bold_Italic;
    font-weight: 100;
}

.detailTxtHeader {
    font-family: Scala_Sans;
    font-size: 24px;
    font-weight: 100;
    color: #822000;
    border-bottom: 1px solid #822000;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 15px;
}

.detailItemsDiv {
    display: block;
    height: auto;
    width: 100%;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.equipItemsDiv {
    display: block;
    height: auto;
    width: 95.5%;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Race Detail Styles */
.raceDetailMain {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: Scala_Sans;
    font-size: 17px;
    color: #822000;
}

.raceDetailMain p:first-child {
    font-family: Scala_Sans_Bold;
    color: #822000;
}

.detailTitle {
    font-family: Scala_Sans_Bold;
    font-weight: 100;
}

.detailItem {
    font-family: Scala_Sans;
    font-weight: 100;
}

.detailDesc {
    font-family: Scala_Sans;
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 20px;
}

.detailFeaturesDiv {
    display: flex;
    flex-direction: column;
}

.detailFeaturesDiv ul {
    display: flex;
    flex-direction: column;
    margin: 15px 0px 15px 20px;
}

.detailFeaturesTitle {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 0;
}

.detailFeaturesContent {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
}

.detailFeaturesContent span {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 0;
}

.bullet-list-item {
    display: list-item;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
}

#closeButton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
}

#watermarkToggle {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
}

strong {
    font-weight: 500;
}

button {
    margin-top: 1rem;
}

#pageHeaderContainer {
    display: flex;
    text-align: center;
    padding: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#mainnav ul {
    border-top: 2px solid #b21f1f;
}

#mainnav ul li a {
    text-decoration: none;
    background-color: darkred;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 2px solid #b21f1f;
    padding: 10px;
}

.mainNavItem,
.dropBtn {
    display: block;
}

.subNavItem {
    display: none;
    justify-content: center;
    text-decoration: none !important;
    opacity: 0;
    transition: opacity .5s ease;
}

#mainnav ul li a:hover {
    opacity: 0.5;
}

.dropDownContent {
    display: flex;
    flex-direction: column;
}

.dropDown:hover .subNavItem {
    display: flex;
    opacity: 1;
}

.dropDown:hover .dropDownContent {
    box-shadow: 0px 8px 16px 0px black;
    background-color: darkred;
}

/* Filter Styles */

.filterContainer {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
}

.filterInputOnly {
    width: 100%;
    align-content: center;
}

.filterContainer p,
.filterLabel {
    font-family: Mrs_Eaves;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    font-weight: 900;
}

.filterLabel {
    max-width: fit-content;
    margin-right: 5px;
}

.filterToggleOff {
    display: flex;
    flex-wrap: wrap;
    background-color: salmon;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 43px;
    padding: 3px;
}

.filterToggleOn {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 43px;
    padding: 3px;
}

.spellFilter {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.spellFilter div {
    display: flex;
    gap: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#filterLast {
    flex-direction: column;
    align-items: center;
}

#filterLast div {
    display: inline-flex;
    gap: 5px;
    width: 200px;
}

.nameFilterContainer {
    display: inline;
    flex-direction: row;
    width: fit-content;
}

#nameFilterContainer {
    display: inline-block;
    vertical-align: middle;
}

#nameFilter {
    max-width: fit-content;
}

#filterInput {
    border: 2px solid black;
    width: 97.5%;
}

#filterExecuteContainer p,
#filterExecuteContainer button {
    display: inline-block;
    vertical-align: middle;
}

#filterExecuteContainer:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#filterCount {
    text-align: center;
}

#resetFilter {
    width: fit-content;
}

/* End of Filter Styles*/

#homeArticle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'DRAGON_HUNTER';
    font-size: 1.5rem;
    font-weight: 900;
    height: fit-content;
    width: 80vw;
    background-image: url(./images/backgrounds/construction-cone.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    gap: 30px;
}

#homeArticle p {
    font-family: Scala_Sans_Bold;
    font-size: 1.3rem;
    font-weight: 100;
}

@media only screen and (min-width: 900px) {

    .mainContent {
        display: inline;
        padding: 20px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        height: fit-content;
        width: 67%;
    }

    /* FIXME P5-1 - Width Manually Set - Figure Out Why it Needs to be Currently */
    .cardContent {
        width: 97%;
    }

    /* TODO Figure out list positioning*/
    .listContent {
        position: absolute;
        top: 600px;
        right: 1px;
    }

    .filterContainer {
        display: none;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-bottom: 30px;
        width: 28%;
    }

    .filterInputOnly {
        width: 100%;
        align-content: center;
    }

    .spellFilterContainer {
        position: sticky;
        top: 100px;
    }

    article {
        margin-bottom: 0;
    }

    h1 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #mainnav ul {
        display: flex;
        border-top: none;
    }
    #mainnav ul li {
        flex: 1
    }
    #mainnav ul li a {
        border-bottom: none;
        border-right: 2px solid #b21f1f;
    }
    #mainnav ul li:last-of-type a {
        border-right: none;
    }

    #homeArticle {
        width: 80vw;
    }

    #leftHomeArticle,
    #rightHomeArticle {
        display: none;
    }

    .filterContainer div:last-child {
        display: flex;
        align-items: start;
        width: 100%;
    }

    #filterLast {
        flex-direction: column;
        align-items: flex-start;
    }
    
    #filterLast div {
        display: inline-flex;
        gap: 5px;
        width: 200px;
    }

    .class-summary-table {
        width: 850px;
    }

    .class-summary-div {
        justify-content: center;
    }

    .class-summary-table th,
    .class-summary-table td {
        padding: 8px 20px;
        border: 1px solid #aeaeae;
}

}

@media only screen and (min-width: 1200px) {
    
/*     #mainContent {
        display: block;
    } */

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        height: fit-content;
/*         width: 90%; */
    }

    .listContent {
        position: absolute;
        top: 726px;
        right: 1px;
    }

    h1 {
        font-size: 100px;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .modalWindow {
        padding: 0;
        max-height: 75%;
        min-width: 60%;
        max-width: 80%;
    }

    #detailsHeader {
        display: flex;
        position: sticky;
        top: 0;
        padding-top: 30px;
        justify-content: center;
        border: 1px solid black;
    }

    #detailsFooter {
        position: sticky;
        bottom: 0;
        border: 1px solid black;
    }

    .detailTextContent {
        column-count: 2;
        gap: 20px;
    }

    .detailItemsDiv {
        max-width: 100%;
    }

    .detailImage {
        border: 1px solid black;
        border-radius: 6%;
        height: auto;
        width: 70%;
        margin: 0 20px 20px 20px;
    }

    /* TEMP SPECIAL */
    #damageItemsDiv {
        font-size: 0.8rem;
        margin: 20px;
    }

    /* TEMP SPECIAL */
    #damageItemsDiv > p {
        line-height: 2rem;
        margin-bottom: 40px;
        border-bottom: 1px solid black;
    }

    /* TEMP SPECIAL */
    #damageTypeTitle {
        color: green;
    }

    /* TEMP SPECIAL */
    #damageTypeItem {
        color: grey;
    }

    #closeButton {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #watermarkToggle {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    #homeArticle {
        width: 50vw;
    }

    #leftHomeArticle,
    #rightHomeArticle {
        display: flex;
        width: auto;
    }

    #leftHomeArticle img,
    #rightHomeArticle img{
        width: auto;
        height: max-content;
    }

    .filterContainer {
        display: none;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-bottom: 30px;
        width: 28%;
    }

    .filterInputOnly {
        width: 100%;
        align-content: center;
    }

    .spellFilterContainer {
        position: sticky;
        top: 100px;
    }
    .filterContainer div:last-child {
        display: flex;
        align-items: start;
        width: 100%;
    }

    #filterLast {
        flex-direction: column;
        align-items: flex-start;
    }
    
    #filterLast div {
        display: inline-flex;
        gap: 5px;
        width: 200px;
    }
}


 /* New: */

.sheets {
    display: flex;
    justify-content: center;
    flex-direction: unset;
    position: unset;
    width: auto;
    top: unset;
    right: unset;
}

#sheet {
    width: 80vw;
    height: 90vh
}